ul {
    list-style-type: none;
    margin: 20px;
    padding: 20px;
    overflow: hidden;
  }
   li {
    float:inline-end;
  }
  
  li a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
  }